.collapse {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
}

.card {
  background-color: rgb(38, 157, 157);
  border-radius: 25px;
}

.btn {
  border-radius: 25px;
  margin: 20px;
}

.order-confirmation {
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 157, 157);
  margin: 50px;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: auto;
  justify-self: center;
  align-self: center;
}